.header {
  grid-area: header;
  display: flex;
  justify-content: space-between;

  padding: 12px 16px;
  background-color: #eee;

  margin-bottom: 24px;
}

.navlink {
  :not(:last-child) {
    margin-right: 6px;
  }
}
