.article-item {
  display: flex;

  padding: 20px 0 15px;

  border-bottom: 1px solid #ececec;
}

.article-popularity-wrapper {
  display: flex;
  flex-direction: column;

  // text-align: center; // this is commented out till we change eye with svg
}

.article {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  min-height: 100px;

  padding-left: 4px;

  > :not(:last-child) {
    margin-bottom: 3px;
  }
}

.article-header {
  display: flex;
  flex-direction: column-reverse;
}

.article-title {
  font-size: 21px;
  font-size: 1.3125rem;
}

.article-topics-row {
  display: flex;

  font-size: 11px;
  font-size: 0.6875rem;
  font-weight: 400;

  :not(:last-child) {
    &:after {
      // this adds a dot . between elements

      content: "·";
      margin: 0 2px;
    }
  }
}

.article-meta {
  display: flex;

  font-size: 14px;
  font-size: 0.875rem;
  font-weight: 500;

  :not(:last-child) {
    margin-right: 4px;
  }
}

.article-topic {
  display: inline-block;

  color: #555;

  // unicode-bidi: isolate; // no idea what this is
}

.article-teaser-preview {
  color: #404040;

  font-size: 16px;
  font-size: 1rem;
}

.article-source {
  a {
    color: #555;
  }
}

.article-author {
  a {
    color: #555;
  }
}

.article-footer {
  display: flex;

  font-size: 13px;
  font-size: 0.8125rem;

  :not(:last-child) {
    &:after {
      // this adds a dot . between elements
      content: "·";
      margin: 0 2px;
    }
  }
}

/* // commented out reddit-flair styling
  padding: 0 2px;
  margin-right: 0.5em;

  background-color: #f5f5f5;
  border-color: #000000;

  border: 1px solid #ddd;
  border-radius: 3px; */
